In [4]:
import pandas as pd
name= input(str("Enter file name : "))
df=pd.read_excel(name)
display(df.tail())

Enter file name : Data1.xls

,Author Full Names,Addresses
995,"Arora, VK; Faraone, L","Wilkes Univ, Dept Engn Phys, Wilkes Barre, PA ..."
996,"Baptista, Rui; Lima, Francisco; Mendonca, Joana","[Baptista, Rui; Mendonca, Joana] Univ Tecn Lis..."
997,"Washburn, Newell R.","[Washburn, Newell R.] Carnegie Mellon Univ, De..."
998,"Agbaria, Ayman K.; Mustafa, Muhanad","[Agbaria, Ayman K.] Univ Haifa, Dept Leadershi..."
999,"Ogunmodede, Adewale M.; Ogunsanwo, Mary O.; Ma...","[Ogunmodede, Adewale M.] Univ Ibadan, Fac Agr,..."

In [6]:
rows=df.count;
print(rows)

<bound method DataFrame.count of                                      Author Full Names  \
0                                      Ripolles, Maria
1    Warhuus, Jan P.; Tanggaard, Lene; Robinson, Sa...
2    Forsstrom-Tuominen, Heidi; Jussila, Iiro; Kolh...
3    Mayhew, Matthew J.; Simonoff, Jeffrey S.; Baum...
4                   Mathieu, Cynthia; St-Jean, Etienne
..                                                 ...
995                              Arora, VK; Faraone, L
996    Baptista, Rui; Lima, Francisco; Mendonca, Joana
997                                Washburn, Newell R.
998                Agbaria, Ayman K.; Mustafa, Muhanad
999  Ogunmodede, Adewale M.; Ogunsanwo, Mary O.; Ma...

                                             Addresses
0    Univ Jaume 1, Dept Adm Empresas & Mkt Org Empr...
1    [Warhuus, Jan P.] Aarhus Univ, Dept Management...
2    [Forsstrom-Tuominen, Heidi; Jussila, Iiro; Kol...
3    [Mayhew, Matthew J.] NYU, Steinhardt Sch Cultu...
4    [Mathieu, Cynthia; St-Jean, Etienne] Univ Queb...
..                                                 ...
995  Wilkes Univ, Dept Engn Phys, Wilkes Barre, PA ...
996  [Baptista, Rui; Mendonca, Joana] Univ Tecn Lis...
997  [Washburn, Newell R.] Carnegie Mellon Univ, De...
998  [Agbaria, Ayman K.] Univ Haifa, Dept Leadershi...
999  [Ogunmodede, Adewale M.] Univ Ibadan, Fac Agr,...

[1000 rows x 2 columns]>