In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\adity\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: numpy>=1.17.3 in c:\users\adity\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: pytz>=2017.3 in c:\users\adity\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\adity\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\adity\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [5]:
import pandas as pd
df=pd.read_excel('Data1.xls')           #df is the dataframe
display(df)

,Author Full Names,Addresses
0,"Ripolles, Maria","Univ Jaume 1, Dept Adm Empresas & Mkt Org Empr..."
1,"Warhuus, Jan P.; Tanggaard, Lene; Robinson, Sa...","[Warhuus, Jan P.] Aarhus Univ, Dept Management..."
2,"Forsstrom-Tuominen, Heidi; Jussila, Iiro; Kolh...","[Forsstrom-Tuominen, Heidi; Jussila, Iiro; Kol..."
3,"Mayhew, Matthew J.; Simonoff, Jeffrey S.; Baum...","[Mayhew, Matthew J.] NYU, Steinhardt Sch Cultu..."
4,"Mathieu, Cynthia; St-Jean, Etienne","[Mathieu, Cynthia; St-Jean, Etienne] Univ Queb..."
...,...,...
995,"Arora, VK; Faraone, L","Wilkes Univ, Dept Engn Phys, Wilkes Barre, PA ..."
996,"Baptista, Rui; Lima, Francisco; Mendonca, Joana","[Baptista, Rui; Mendonca, Joana] Univ Tecn Lis..."
997,"Washburn, Newell R.","[Washburn, Newell R.] Carnegie Mellon Univ, De..."
998,"Agbaria, Ayman K.; Mustafa, Muhanad","[Agbaria, Ayman K.] Univ Haifa, Dept Leadershi..."
999,"Ogunmodede, Adewale M.; Ogunsanwo, Mary O.; Ma...","[Ogunmodede, Adewale M.] Univ Ibadan, Fac Agr,..."

In [17]:
df['Author Full Names'].str.split(';',  expand=True)

0                                      [Ripolles, Maria]
1      [Warhuus, Jan P.,  Tanggaard, Lene,  Robinson,...
2      [Forsstrom-Tuominen, Heidi,  Jussila, Iiro,  K...
3      [Mayhew, Matthew J.,  Simonoff, Jeffrey S.,  B...
4                  [Mathieu, Cynthia,  St-Jean, Etienne]
                             ...
995                             [Arora, VK,  Faraone, L]
996    [Baptista, Rui,  Lima, Francisco,  Mendonca, J...
997                                [Washburn, Newell R.]
998               [Agbaria, Ayman K.,  Mustafa, Muhanad]
999    [Ogunmodede, Adewale M.,  Ogunsanwo, Mary O., ...
Name: Author Full Names, Length: 1000, dtype: object